<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <h2>Warehouses by supplier with ID <span th:text="${supplierId}"></span></h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Warehouse name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="warehouse : ${warehouses}">
                <td th:text="${warehouse}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>

